[user]
    name = oishoes
    email = soiyama113@gmail.com
[color]
    # colorの設定(以下のコマンドは自動で色つける)
    status = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto
[core]
    editor = vim
    pager = lv -c
[alias]
    dw = diff --color-words -w
    co = checkout
    gr = grep -n -I --cached
